.playlistCard{
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: .5em;
    display: inline-block;
    width: 30%;
}

.playlistCards{
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: .5em;
    display: inline-block;
    width: 20%;
}

.specialCard{
    background: rgba(255, 255, 255, 0.8);
}

.fuzzy {
    font-family: 'Fuzzy Bubbles', cursive;
}